<div class="container">
  <mat-card class="card">
    <h1>HttpClient</h1>
    <div class="form-control">
      <mat-form-field class="inp">
        <mat-label>Введите текст</mat-label>
        <label>
          <input  matInput type="text" [(ngModel)]="todoTitle">
        </label>
        <button  (click)="onClick()" matSuffix mat-icon-button  >
          <mat-icon>close</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <div  class="btns">
      <button (click)="addTodo()" mat-raised-button color="primary">Добавить</button>
      <button  (click)="fetchTodos()" mat-raised-button color="primary">Загрузить</button>
      <button  routerLink="/home" mat-raised-button color="primary">Назад</button>
    </div>
  </mat-card>
  <div class="cardPosition" *ngIf="!loading; else loadingBlock">
    <div *ngIf="todos.length; else noTodos" >
      <mat-card class="card" *ngFor="let todo of todos">
        <p class="card">
          <span [class.completed]="todo.completed">{{todo.title | titlecase}}</span>
          <span>
            <button (click)="removeTodo(todo.id)" mat-raised-button color="warn">Удалить</button>
          </span>
        </p>
      </mat-card>
    </div>
    <ng-template #noTodos>
      <p>Нет элементов</p>
    </ng-template>
  </div>
  </div>
  <ng-template #loadingBlock>
    <p>Загрузка...</p>
  </ng-template>



