<div class="container">
  <mat-card class="card" cdkDrag>
    <div class="btns">
      <button class="tre" routerLink="/" mat-raised-button color="primary">Login</button>
      <button class="tre" routerLink="/http" mat-raised-button color="primary">HttpClient</button>
      <button class="tre" routerLink="/base" mat-raised-button color="primary">FireBase</button>
      <button class="tre" routerLink="/reg" mat-raised-button color="primary">Registration</button>
      <button routerLink="/" mat-raised-button (click)="clearStorage()" color="warn">LogOut</button>
    </div>
  </mat-card >
  <mat-card class="card" cdkDrag>
    <div class="infoCard">
      <div class="param" *ngFor="let key of dataClient.personData  | keyvalue">
        <b>{{key.key}}</b> : {{key.value}}
      </div>
    </div>
  </mat-card>
</div>
